.time-metadata {
  color: grey;
  font-weight: bold;
  font-size: 0.8em;
}

.Article-container {
  height: 400px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.Article-semi-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1em;
}

.Article-name {
  font-size: 4em;
  font-weight: 900;
}
