.App {
  /* text-align: center; */
}

@keyframes App-logo-spin {
  0% {
    left: -15%;
  }
  100% {
    left: 100%;
  }
}

.App-logo {
  animation: App-logo-spin infinite 6s linear;
  height: 10em;
  position: absolute;
  left: -15%;
}

.App-header {
  background-color: #ffffff;
  padding: 1em;
  color: black;
  display: block;
  align-items: center;
  justify-content: space-around;
  height: 150px;
}

.App-title {
  padding: 0 1em;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-content-wrap {
  display: flex;
  flex-direction: column;
}
